{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Content Wrapper -->

<!-- Begin Page Content -->
<div class="container-fluid">
    <h3>Employee regitrstation</h3>
    <hr>
    <form>

        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" aria-describedby="emailHelp"
                   placeholder="Firstname">
        </div>

        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" aria-describedby="emailHelp"
                   placeholder="Lastname">
        </div>


        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="dob">Date of birth</label>
            <input type="date" class="form-control" id="dob" aria-describedby="emailHelp"
                   placeholder="Designation">
        </div>

        <div class="form-group">
            <label for="designation">Designation</label>
            <input type="text" class="form-control" id="designation" aria-describedby="emailHelp"
                   placeholder="Designation">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<!-- /.container-fluid -->

{% endblock content %}